[package]
name = "rust-g"
version = "0.4.0"
authors = ["Bjorn Neergaard <bjorn@neersighted.com>"]
repository = "https://github.com/tgstation/rust-g"
license-file = "LICENSE"
description = "Offloaded task library for the /tg/ Space Station 13 codebase"

[lib]
crate-type = ["lib", "cdylib"]

[profile.release]
opt-level = 3
lto = true

[dependencies]
failure = "0.1"
chrono = { version = "0.4", optional = true }
crypto-hash = { version = "0.3", optional = true }
hex = { version = "0.3", optional = true }
percent-encoding = { version = "1.0", optional = true }
png = { version = "0.11.0", optional = true }
git2 = { version = "0.7.1", optional = true, default-features = false }

[features]
default = ["dmi", "log", "git"]
dmi = ["png"]
file = []
hash = ["crypto-hash", "hex"]
log = ["chrono"]
url = ["percent-encoding"]
git = ["git2", "chrono"]
